html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: 400 13.3333px Arial;
  vertical-align: baseline; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("/font/proxima-nova-regular-webfont.eot");
  src: url("/font/proxima-nova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/proxima-nova-regular-webfont.woff2") format("woff2"), url("/font/proxima-nova-regular-webfont.woff") format("woff"), url("/font/proxima-nova-regular-webfont.ttf") format("truetype"), url("/font/proxima-nova-regular-webfont.svg#proxima_nova_altregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("/font/proxima-nova-semibold-webfont.eot");
  src: url("/font/proxima-nova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/font/proxima-nova-semibold-webfont.woff2") format("woff2"), url("/font/proxima-nova-semibold-webfont.woff") format("woff"), url("/font/proxima-nova-semibold-webfont.ttf") format("truetype"), url("/font/proxima-nova-semibold-webfont.svg#proxima_nova_ltsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #EEEEEE;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #333; }

.ui-layout {
  z-index: 1;
  margin-bottom: 0;
  border-radius: 4px;
  border-top: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
  padding: 16px; }

.ui-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.btn {
  display: inline-block;
  width: auto;
  padding: 12px 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: block;
  font-weight: 300;
  margin: 0;
  padding: 12px;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.btn-primary-ml {
  color: #FFF;
  background-color: #2F83FE;
  border: 1px solid; }
  .btn-primary-ml:hover {
    color: #FFF;
    border: 1px solid #FFF; }

.list--products {
  margin-top: 16px; }
  .list--products .list--products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .list--products .list--products__item p {
      width: 25%;
      margin-bottom: 0; }
